.body {
    background-image: url("../polka-dot-background.jpg");
    font-family: cursive;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

.navbar {
 display: flex;
 padding: 10px;
 background-color: rgb(159, 199, 223);
 border: 2px solid black;
 position: sticky;
 top: 0;
 z-index: 100;
}

.menu {
 display: flex;
 gap: 3em;
 font-size: 15px;
}

.menu li:hover {
 background-color: rgb(195, 218, 231);
 border-radius: 5px;
 transition: 0.3s ease;
}

.Main_Title {
    color: rgb(0, 2, 133);
    font-size: x-large;
    text-align: center; 
    padding-top: 35px;
    padding-bottom: 10px;
} 

.Professional_Profile {
word-spacing: 0px;
margin:50px 20px;
}

.float-about-me{
border: 8px dotted rgb(0, 2, 133);
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
color: black;
align-content: center;
display: flex;
background-color: rgb(169, 216, 218);
margin: 20px;
}   

.float-profesional-photo{
    flex: 1;
    margin: auto;
    padding: 30px;
}

.float-about-me-content{
    margin: auto;
}

.project-title{
border: 8px dotted rgb(0, 2, 133);
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
color: white;
text-align: center;
background-color: darkgreen;
margin: 50px 20px;
padding: 20px;
gap: 3em;
height: fit-content;
}

.projects{
display: flex;
gap: 3em;
}

.Skills{
    margin: 50px 20px;
    padding: 40px 10px 30px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border: dotted black;
    color: rgb(0, 2, 133);
}

.resume{
    border: 8px solid black;
    padding: 30px 5px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: black;
    background-color: cornflowerblue;
}

